@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    list-style: none;
}

body {/*background-color:#f7fafc */
    background: #e2eef8;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 2rem;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.brand {
    width: 100px;
    height: 100px;
}

.brand img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(1px 4px 4px #747474);
}

nav h1 {
    position: relative;
    align-self: flex-end;
    color: maroon;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

nav h1::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background: black;
    left: 50%;
    bottom: -6px;
    transform: translate(-50%);
}

.input-group {
    width: 100%;
    position: relative;
    margin-bottom: 2.5rem;
}

input {
    width: 100%;
    /* background: #d7e8f5; */
    background: #ecf0f3;
    padding: 1rem 1.2rem 1rem 3.2rem;
    font-size: 18px;
    outline: 0;
    border: 0;
    border-radius: 25px;
    box-shadow: inset 4px 4px 4px #cbced1,
                inset -4px -4px 4px #ffffff;
}

.icon-search {
    position: absolute;
    top: 30%;
    left: 25px;
    transform: translate(-30%);
}

.error {
    display: none;
    align-items: center;
    margin: 1.5rem 0;
}

.error span {
    margin-left: .5rem;
    font-size: 1.2rem;
}

.stations {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.station {
    background: #ecf0f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 4px 4px 8px #b1b1b1,
                -4px -4px 8px rgb(255, 255, 255);
}

.station div {
    margin-bottom: .5rem;
}

.station div:hover {
    transform: scale(1.3);
    transition: all .2s ease-in;
}

.station p {
    text-align: justify;
}

/* Loader */

.loader {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-65%, -50%);
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .2rem;
    z-index: 499;
}

#bar1, #bar2, #bar3, #bar4, #bar5 {
    width: 10px;
    height: 180px;
    background: #000000;
    margin-left: .3rem;
    border-radius: 10px;
    animation: animateLoader .9s ease-in-out infinite;
    -webkit-animation: animateLoader .9s ease-in-out infinite;
    -moz-animation: animateLoader .9s ease-in-out infinite;
}

#bar2, #bar4 {
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
}

#bar3 {
    animation-delay: .4s;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
}

@-webkit-keyframes animateLoader {
    0% {
        height: 50px;
    }
    50% {
        height: 180px;
    }
    100% {
        height: 50px;
    }
}

@keyframes animateLoader {
    0% {
        height: 50px;
    }
    50% {
        height: 180px;
    }
    100% {
        height: 50px;
    }
}

@media screen and (max-width: 400px) {
    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
    }

    nav h1 {
        align-self: center;
        margin: 1.5rem 0 .5rem 0;
    }

    input {
        padding-left: 2.9rem;
    }

    input::placeholder {
        font-size: 13px;
    }

    .stations {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width:768px) {
    nav, .input-group {
        width: 700px;
    }
}
/* 
@media screen and (min-width:1440px) {
    .container {
        width: 1440px;
        margin: 0 auto;
    }
} */